<div class="entry-header">edit an app</div>
<form method="post" action="/crudapps/<%= @crudapp.id %>">
  <input type="hidden" name="crudapp[user_id]" value="<%= @crudapp.user_id %>">

  <ul class="basic-form">
    <li>
      <label for="crudapp[title]">Application title</label>
      <input class="fieldbox" type="text" name="crudapp[title]" value="<%= @crudapp.title %>">
    </li>
    <li>
      <label for="crudapp[description]">Description</label>
      <textarea name="crudapp[description]"><%= @crudapp.description %></textarea>
    </li>
    <li>
      <label for="crudapp[model]">Item name</label>
      <input class="fieldbox" type="text" name="crudapp[model]" value="<%= @crudapp.model %>">
    </li> 

    <input type="hidden" name="columns[0][id]" value="<%= @crudapp.columns[0].id %>">

    <li>
      <label for="columns[][key_name]">First attribute name</label>
      <input class="fieldbox" type="text" name="columns[0][key_name]" value="<%= @crudapp.columns[0].key_name %>">
    </li>
    <li>
      <label for="columns[0][data_type]">First attribute data type</label>
      <select name="columns[0][data_type]">
        <option value="String" <%= 'selected' if @crudapp.columns[0].data_type=='String' %>>String</option> 
        <option value="Number" <%= 'selected' if @crudapp.columns[0].data_type=='Number' %>>Number</option>
        <option value="Date" <%= 'selected' if @crudapp.columns[0].data_type=='Date' %>>Date</option>
        <option value="Boolean" <%= 'selected' if @crudapp.columns[0].data_type=='Boolean' %>>Boolean</option>
      </select>
    </li> 

    <input type="hidden" name="columns[1][id]" value="<%= @crudapp.columns[1].id %>">

    <li>
      <label for="columns[][key_name]">Second attribute name</label>
      <input class="fieldbox" type="text" name="columns[1][key_name]" value="<%= @crudapp.columns[1].key_name %>">
    </li>
    <li>
      <label for="columns[1][data_type]">Second attribute data type</label>
      <select name="columns[1][data_type]">
        <option value="String" <%= 'selected' if @crudapp.columns[1].data_type=='String' %>>String</option> 
        <option value="Number" <%= 'selected' if @crudapp.columns[1].data_type=='Number' %>>Number</option>
        <option value="Date" <%= 'selected' if @crudapp.columns[1].data_type=='Date' %>>Date</option>
        <option value="Boolean" <%= 'selected' if @crudapp.columns[1].data_type=='Boolean' %>>Boolean</option>
      </select>
    </li>

    <input type="hidden" name="columns[2][id]" value="<%= @crudapp.columns[2].id %>">

    <li>
      <label for="columns[][key_name]">Third attribute name</label>
      <input class="fieldbox" type="text" name="columns[2][key_name]" value="<%= @crudapp.columns[2].key_name %>">
    </li>
    <li>
      <label for="columns[2][data_type]">Third attribute data type</label>
      <select name="columns[2][data_type]">
        <option value="String" <%= 'selected' if @crudapp.columns[2].data_type=='String' %>>String</option> 
        <option value="Number" <%= 'selected' if @crudapp.columns[2].data_type=='Number' %>>Number</option>
        <option value="Date" <%= 'selected' if @crudapp.columns[2].data_type=='Date' %>>Date</option>
        <option value="Boolean" <%= 'selected' if @crudapp.columns[2].data_type=='Boolean' %>>Boolean</option>
      </select>
    </li>
    <li>
      <label for="crudapp[github]">GitHub link</label>
      <input class="fieldbox" type="text" name="crudapp[github]" value="<%= @crudapp.github %>">
    </li>
    <li>
      <label for="crudapp[web]">Web link</label>
      <input class="fieldbox" type="text" name="crudapp[web]" value="<%= @crudapp.web %>">
    </li>
  </ul>
    
  <div class="entry-submit-margin">
    <input class="entry-submit" type="submit" value="submit">
  </div>
</form>
