<h3><%= @crudapp.title %></h3>
<div><%= @crudapp.description %></div>
<div><h4>Model: <%= @crudapp.model %></h4></div>
<% @crudapp.columns.each do |column| %>
  <% if column.key_name != "" %>
		<div><%= column.key_name %> : <%= column.data_type %></div>
	<% end %>
<% end %>
<div><h4><a target="_blank" href="/crudapps/<%= @crudapp.id %>/zipdl">Download</a></h4></div>
<% if @crudapp.github != "" %>
	<div><a href="<%= @crudapp.github %>">GitHub</a></div>
<% end %>
<% if @crudapp.web != "" %>
	<div><a href="<%= @crudapp.web %>">Web link!</a></div>
<% end %>